/env
/.venv
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

.git/
.gitignore
.vscode/
.idea/

.env
.env.*
!.env.example

Dockerfile
docker-compose.yml
backend/.dockerignore
/certs